@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin link-nav{
    margin-left: 15px;
    text-decoration: none;
    color: $primary_color;
}

@mixin button-jumbotron{
    color: white;
    background-color: $button_color;
    border: 1px solid $button_color;
    border-radius: 5px;
    padding: 3px 5px;
    @include flex;
    display: inline-block;
    margin-bottom: 10px;
    img{
        width: 15px;
        margin-right: 3px;
    }
   
}

@mixin flex-centred-element{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-divider-left{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-divider-right{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

